@import '../../styles/index.scss';

.toDoColumn {
	@extend .columnWrapper;
	.toDoColumn__container {
		@extend .columnContainer;
		.toDoColumn__container--title {
		}
		.toDoColumn__container--icon {
			margin-left: 5px;
			color: #32cd32;
			cursor: pointer;
		}
	}
}
