@import '../../styles/index.scss';

.toDo {
	@extend .columnWrapper;
	.toDo__container {
		width: 300px;
		height: auto;
		&:first-child {
			text-align: center;
		}
		.toDo__container--title {
		}
		.toDo__container--icon {
			margin-left: 5px;
			color: #32cd32;
			cursor: pointer;
		}
	}
}
