@import './global/vars.scss';

.columnWrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	height: auto;
	width: 80%;
	border: 1px solid black;
	border-radius: $regular-borders;
	margin: 0 auto;
	padding: 1vw;
}

.columnContainer {
	width: 300px;
	height: auto;
	&:first-child {
		text-align: center;
	}
}
